.header{
    text-align: center;
    background-color: gray;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
    color: white;
    margin: 10px;
}
.banner{
    background-color: aqua;
    text-align: center;
    color: white;
    font-size: 40px;
    height: 100vh;
    line-height: 100vh;
    margin: 10px;
    border-radius: 6px;
}
.section-1{
    text-align: center;
}
.circles{
    display: flex;
    justify-content: center;
}
.circle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: orange;
    margin: 30px;
    
}
.section-2{
    text-align: center;
}
.rectangles{
    display: flex;
    margin: 10px;
    justify-content: center;
}
.rect{
    height: 500px;
    width: 500px;
    background-color: gray;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 500px;
}
.inner_rect{
align-self: center;
line-height: 350px;
}
.rectangle{
   margin: 10px;
    height: 150px;
    width: 700px;
    background-color: rgb(197, 42, 42);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
}
.section-3{
    text-align: center;
}
.squares{
    display: flex;
    justify-content: center;
}
.square{
    height: 250px;
    width: 250px;
    background-color: orangered;
    margin: 30px;
}
.section-4{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: pink;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
    color: white;
    margin: 10px;
}